<!-- Footer navigastion -->
<nav class="navbar navbar-light bg-light" id="footer-nav">
    <p id="aa-copy"> &copy Alan Alban 2020</p>
    <section id="container">
      <div class = "social-flex"> 
        <a href="https://www.facebook.com/aalban3/" target="_blank" class="btn-social btn-facebook"><i class="fa fa-facebook"></i></a>
      </div>
      <div class = "social-flex" >
        <a href="https://www.instagram.com/alandoingthings/" target="_blank" class="btn-social btn-instagram"><i class="fa fa-instagram"></i></a>
      </div>
      <div class = "social-flex" >
        <a href="http://www.github.com/aalban3" target="_blank" class="btn-social btn-github"><i class="fa fa-github"></i></a>
      </div>
      <div class = "social-flex" >
        <a href="https://www.linkedin.com/in/alan-alban-52108776/" target="_blank" class="btn-social btn-linkedin"><i class="fa fa-linkedin"></i></a>
      </div>
  </section>
</nav>

<script src="js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
</body>


</html>