<%- include("partials/header") %>
<div class="container" id="skills-container">
    
    <h3 class= "header-skills"> <span><img class="skill-icon"src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/768px-Python-logo-notext.svg.png" alt=""></span> Python</h3>
    <div class="progress">
        <div class="progress-bar progress-bar-striped bg-success Skills" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    
    <h3 class= "header-skills"> <span> <img class="skill-icon" src="https://raw.githubusercontent.com/isocpp/logos/master/cpp_logo.png" alt=""> </span> C++</h3>
    <div class="progress">
        <div class="progress-bar progress-bar-striped bg-success Skills" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    
    <h3 class="header-skills"> <span> <img class="skill-icon" src="https://e7.pngegg.com/pngimages/602/440/png-clipart-javascript-open-logo-number-js-angle-text.png" alt=""> </span> Javascript</h3>
    <div class="progress">
        <div class="progress-bar progress-bar-striped bg-success Skills" role="progressbar" style="width:0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <h3 class="header-skills"> <span> <img class="skill-icon" src="https://assets.stickpng.com/images/584830f5cef1014c0b5e4aa1.png" alt=""> </span> ReactJS</h3>
    <div class="progress">
        <div class="progress-bar progress-bar-striped bg-success Skills" role="progressbar" style="width:0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <h3 class="header-skills"> <span> <img class="skill-icon" src="https://logodix.com/logo/1758694.png" alt=""> </span> Django </h3>
    <div class="progress">
        <div class="progress-bar progress-bar-striped bg-success Skills" role="progressbar" style="width:0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="50"></div>
    </div>
</div>
<!-- CONTAINER FOR ARTICLES I HAVE WRITTEN -->
<div class="container" id="articles">
    <blockquote class="embedly-card"><h4><a href="https://alan-alban.medium.com/deploying-your-express-js-apps-to-aws-in-7-steps-883d51365406">Deploying Your Express.JS Apps to AWS in 7 steps</a></h4><p>This article is intended for people who, like me, intend to to build and deploy their own websites in AWS. I've gathered knowledge from several sources and this is a summary of everything I picked up along the way. AWS offers a 12 month free subscription.</p></blockquote>
    <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
</div>
<script src='/js/skills.js'></script>
<%- include("partials/footer") %>