.home-container {
  position: relative;
}
.particles {
  width: 100%;
  height: 100vh;
}
.home-title {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.home-title button {
  margin-top: 3rem;
}
.home-title h1 {
  font-size: 5rem;
  color: aliceblue;
}
.home-title a {
  color: aliceblue;
  text-decoration: none;
}
.home-title a:hover {
  color: rgb(195, 195, 195);
}
